<div id="version-two">
  <vue-alert :show.sync="showAlert"
             :duration="3000"
             type="danger"
             width="400px"
             placement="top"
             dismissable>
    <p><span class="glyphicon glyphicon-trash"></span>You just deleted something.</p>
  </vue-alert>

  <vue-board v-for="board in boards"
             :board="board">
  </vue-board>
</div>
