<div id="version-two">
  <alert
  :show.sync="showAlert"
  :duration="3000"
  type="danger"
  width="400px"
  placement="top"
  dismissable>
    <p><span class="glyphicon glyphicon-trash"></span>You just deleted something.</p>
  </alert>
  <board
    v-for="board in boards"
    :board="board">
  </board>
</div>